*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li {
    list-style: none;
}
a, a:hover {
    text-decoration: none;
}
section,footer {
    width: 100%;
    background-color: #fff;
}
header {
    background-image: url(../images/abougbg.png);
    position: relative;
    background-repeat: no-repeat;
    padding-bottom: 191px;
}
header::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #020233;
    opacity: 70%;
    content: "";
}
.header-top img {
    margin-top: 20px;
    color: #fff;
}
.header-top ul {
    margin-left: 10px;
}
.header-top ul.nav>li>a:hover {
    color: #fc7587;
    background-color: #020233;
}
.header-top ul>li a{
    color: #fff;
    line-height: 86px;
    padding: 0;
    margin-right: 45px;
}
.header-top nav .dropdown {
    position: relative;
}
.header-top nav .dropdown-list {
    background-color: #fff;
    width: 180px;
    padding: 0;
    display: none;
    position: absolute;
    top: 86px;
    left: -12px;
}
.header-top nav .dropdown-list li .btn{
    color: black;
    line-height: 45px;
    padding-left: 20px;
}
header .btn{
    position: relative;
    z-index: 1;
}
header .btn:hover {
    color: #fff;
}
header .btn::before{
    content:'';
    position: absolute;
    background: #ea4c89;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}
header .btn:hover::before{
    width: 178px;
}
.show {
    display: block;
}
.ham {
    margin-top: 35px;
    float: right;
}
.ham button {
    border: none;
    background-color: #020233;
}
.ham i {
    display: block;
    width: 20px;
    background-color: #fff;
    padding-top: 2px;
}
.ham i:nth-child(2) {
    width: 10px;
    margin-left: 10px;
}
.ham i+i {
    margin-top: 5px;
}
header .banner {
    position: relative;
    z-index: 2;
    margin-top: 200px;
}
header .banner h2{
    font-size: 72px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
}
header .banner ul {
    text-align: center;

}
header .banner ul li a{
    font-size: 18px;
    color: #ffffff;
}
header .banner ul li a:hover {
    color: #ea4c89;
}
.page{
    position: fixed;
    top: 0;
    display: none;
    z-index: 6;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background: #000;
}
.menu {
    padding: 20px 25px;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #fff;
    z-index: 8;
    transition: all .6s;
}
.menu button {
    background-color: #fff;
    border: none;
}
.menu .logo {
    margin-top: 25px;
    margin-bottom: 25px;
}
.menu .contact-list h4{
    font-size: 27px;
    margin-bottom: 20px;
}
.menu .contact-list ul>li>i {
    display: inline-block;
    color: #EA4C89;
    width: 25px;
}
.menu .contact-list ul li a {
    color: #647589;
    overflow: hidden;
    display: inline-block;
    font-size: 14px;
    padding-top: 5px;
    text-transform: capitalize;
}
.menu .contact-btn a {
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu .menu-list ul li {
    display: inline-block;
}
.menu .menu-list ul li a{
    color: #fff;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    width: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 1px;
    background: #393f53;
    border-radius: 5px;
    cursor: pointer;
}
.project {
    padding-top: 30px;
    padding-bottom: 90px;
}
.project .control-btns {
    margin-bottom: 40px;
    padding-left: 335px;
}
.project .control-btns button{
    background-color: #fff;
    border: none;
    margin: 0 12px;
}
.project .control-btns button.active {
    color: #ea4c89;
}
.grid {
    position: relative;
}
.grid .element-item {
    float: left;
    margin-right: 20px;
    position: relative;
}
.grid>div:nth-child(4){
    position: absolute;
    left: 0;
    top: 390px;
}
.grid>div:nth-child(5){
    position: absolute;
    top: 390px;
    left: 390px;
}
.itempic{
    height: 100%;
    position: relative;
}
.itempic img{
    display: block;
    height: 100%;
    border-radius: 10px;
}
.itempic::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; 
    background-image: linear-gradient(
60deg, #ff24f7 0%, #781ce2 100%);
    border-radius: 10px;
    opacity: 0;
}
.itempic:hover::before{
    opacity: 0.6;
}
.itempic a{
    display: block;
    position: absolute;
    top: 5px;
    left: 30px;
    color: #ffffff;
    font-size: 16px;
    z-index: 999;
    opacity: 0;
    transition: all 0.5s;
    /* visibility: hidden;*/
}
.itempic:hover>a{
    opacity: 1;
    top: 30px;
}
.itempic a i{
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    text-align: center;
    line-height: 46px;
    color: #fff;
}
.itemtext {
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    bottom: 0px;
    left: 30px;
}
.itemtext h4 {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    margin-bottom: 2px;
}
.itemtext h4 a{
    color: #fff;
}
.itemtext span a{
    color: #f4a0c1;
    font-size: 24px;
    font-weight: 800;
    color: #ffffff;
    text-transform: capitalize;
}
.itempic:hover+.itemtext{
    opacity: 1;
    bottom: 20px;
}